<!-- views/partials/_header -->

<div class="nav">
  <a href="/urls">URLs</a>
  <a href="/urls/new">New</a>
</div>

<div>
<h5>  Welcome to srtnR :  TO BE DONE </h5>
</div>


<h1 align=center > ShortenR </h1>
<h5 align=center > (The worlds smallest url sortner app) </h5>

<form name="login" id="login" method="POST" action="/login">
  <input name="username" for="login" placeholder="Enter Name">
  <button name="lButtonfor="login">Sign in</button>
</form>


