<!DOCTYPE html>

<!--views/partials/_header -->


<% if ( username === undefined ) { %>

<div>
  <div class="nav" align="left">
    <a href="/">Home</a>
  </div>
  <div align="right">
    <form name="login" method="GET" action="/login">
      <button  >login</button>
    </form>
  </div>
</div>

    <% } else { %>

<div>
  <div class="nav" align="left">
    <a href="/">Home</a>
    <a href="/urls">URLs</a>
    <a href="/urls/new">New</a>


  </div>
  <div align="right">
    <h4> Welcome, <%= username %> </h4>
    <form name="logout" method="POST" action="/logout">
      <button>Logout</button>
    </form>
  </div>
 </div>



<% } %>





<h1 align=center > ShortenR </h1>
<h5 align=center > (The worlds smallest url sortener app) </h5>








