<!-- views/partials/_header -->

<div>
  <div class="nav" align="left">
    <a href="/urls">URLs</a>
    <a href="/urls/new">New</a>
  </div>
  <div align="right">
    <% if (username === undefined) { %>
      <h4> Sign in</h4>
      <form name="login" id="login" method="POST" action="/login">
        <input name="username" for="login" placeholder="Enter Name">
        <button name="lButtonfor="login">Sign in</button>
      </form>
    <% } else { %>
      <h4> Welcome, <%= username %> </h4>
      <form name="logout" method="POST" action="/logout">
        <button>Logout</button>
      </form>
    <% } %>
  </div>
</div>


<h1 align=center > ShortenR </h1>
<h5 align=center > (The worlds smallest url sortner app) </h5>








