<!-- views/partials/_header -->

<div class="nav">
  <a class="active" href="/">Home</a>
  <a href="/urls">URLs</a>
  <a href="/urls/new">New</a>
</div>

<h1 align=center > ShortenR </h1>
<h5 align=center > (The worlds smallest url sortner app) </h5>


