<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align="center">
      <div>
       <% include ./partials/_header %>
      </div>
      <h4> Please Login </h4>

      <% if(errorMSG !== "") {  %>
       <h3> <%= errorMSG %> </h3>
      <% } %>

      <form Name="login" method="POST" action="/login">
        <p>Email:<input name="email" type="email" placeholder="Sam@sample.com"></p>
        <p>Password:<input name="password" type="password"></p>
        <p>
          <button for="login" type="submit" > Submit </button>
        </p>
      </form>
      <div>
        <p>Not a member? Sign-up for an account today.</p>
        <a href="/register">Register</a>
      </div>
    </div>
  </body>
</html>