<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div  align="center">
       <% include ./partials/_header %>
    </div>
    <div class="container">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/u/<%= curShortURL %>"> <%= urls[curShortURL] %> </a>
            <form method="POST">
              <input id="updateURL" name="updateURL" type=text value="<%= urls[curShortURL]%>" >
              <button action="/urls/<%= curShortURL %>" for="updateURL"> Update </button>
            </form>
          </li>
       </ul>
    </div>
  </body>
</html>