<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div>
       <% include ./partials/_header %>
        <ul>
          <li> <%= urls[curShortURL] %>
          </li>
          <form method="POST">
            <input id="updateURL" name="updateURL" type=text placeholder="<%= urls[curShortURL]%>" >
            <button action="/urls/<%= curShortURL %>" for="updateURL"> Update </button>
          </form>
       </ul>
    </div>
  </body>
</html>