<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align="center">
      <% include ./partials/_header %>
    </div>
    <div>
     <h3> Thanks for visiting</h3>
     <p>Not a member? Sign-up for an account today.</p>
     <a href="/register">Register</a>
    </div>
  </body>
</html>