<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align="center">
      <% include ./partials/_header %>
    </div>
    <div>
     <h3> Thanks for visiting</h3>
    </div>
  </body>
</html>